version: 2.1
parameters:
  tag_regex:
    type: string
    default: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
jobs:
  # Parameterized job with localstack container running
  run_with_localstack:
    parameters:
      image:
        default: sbtscala/scala-sbt:eclipse-temurin-23.0.1_11_1.10.5_2.13.15
        type: string
      sbt_command:
        type: string
      resource_class:
        default: large
        type: string
    docker:
      - image: << parameters.image >>
      - image: localstack/localstack:3.4.0
        environment:
          LOCALSTACK_HOST: localstack
          SERVICES: 'cloudwatch,dynamodb'
          USE_SSL: "false"
          DEFAULT_REGION: 'us-east-1'
          AWS_DEFAULT_REGION: "us-east-1"
          AWS_ACCESS_KEY_ID: dummy-key
          AWS_SECRET_ACCESS_KEY: dummy-key
          UPDATE_SHARD_COUNT_DURATION: "10000ms"
          DEBUG: "1"
    resource_class: << parameters.resource_class >>

    steps:
      - checkout
      - restore_cache:
          key: sbt-cache-{{ checksum "build.sbt" }}-{{ checksum "project/build.properties" }}-{{ checksum "project/plugins.sbt" }}
      - run: apt update && apt install -y protobuf-compiler
      - run: sbt << parameters.sbt_command >>
      - save_cache:
          key: sbt-cache-{{ checksum "build.sbt" }}-{{ checksum "project/build.properties" }}-{{ checksum "project/plugins.sbt" }}
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  release:
    docker:
      - image: sbtscala/scala-sbt:eclipse-temurin-23.0.1_11_1.10.5_2.13.15
    steps:
      - checkout
      - run: git fetch --tags
      - restore_cache:
          key: sbt-cache-{{ checksum "build.sbt" }}-{{ checksum "project/build.properties" }}-{{ checksum "project/plugins.sbt" }}
      - run: apt update && apt install -y protobuf-compiler
      - run: apt install -y gnupg
      - run: export GPG_TTY=$(tty)
      - run: echo $PGP_SECRET | base64 --decode | gpg --batch --import
      - run: echo "credentials += Credentials(\"Sonatype Nexus Repository Manager\", \"oss.sonatype.org\", \"$SONATYPE_USERNAME\", \"$SONATYPE_PASSWORD\")" > ~/.sbt/1.0/sonatype.sbt
      - run: sbt ci-release

workflows:
  version: 2
  build:
    jobs:
      - run_with_localstack:
          name: lint
          sbt_command: ++2.13.15! check
          filters:
            tags:
              only: << pipeline.parameters.tag_regex >>
      - run_with_localstack:
          name: test3
          image: sbtscala/scala-sbt:eclipse-temurin-23.0.1_11_1.10.5_3.3.4
          sbt_command: ++3.3.3! testCoreAndDynamicConsumer/test interopFutures/test
          requires:
            - lint
          filters:
            tags:
              only: << pipeline.parameters.tag_regex >>
      - run_with_localstack:
          name: test213
          sbt_command: ++2.13.15! interopFutures/compile testCoreAndDynamicConsumer/test interopFutures/test Compile/doc
          requires:
            - lint
          filters:
            tags:
              only: << pipeline.parameters.tag_regex >>
      - release:
          requires:
            - test3
            - test213
          filters:
            branches:
              only:
                - master
            tags:
              only: /^v.*/
